.catalog .card-body h5 a{
	color: #000;
	font-weight: : 700;
}

.catalog .card-body h5 a:hover{
	color: #008396;
}

.catalog .card-footer{
	background: #fff;
}

.catalog .card-footer a{
	color: #808080;
}

.catalog .card-footer a:hover{
	color: #008396;
}

.catalog .item-catalog:nth-child(n+4) {
   margin-top: 0.75rem; 
}
