.page-header .page-title{
    display: none;
}


.compare-product .uk-button {
    margin: 0;
    border: none;
    font: inherit;
    color: #444;
    box-sizing: border-box;
    padding: 0 12px;
    background: #f5f5f5;
    line-height: 28px;
    min-height: 30px;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 4px;
}

.compare-product .uk-button:not(:disabled), .uk-form input[type=checkbox]:not(:disabled), .uk-form input[type=radio]:not(:disabled) {
    cursor: pointer;
}

.compare-product .uk-button {
    background: #bec1c3!important;
    border: 1px solid rgba(0,0,0,.1)!important;
    border-radius: 0!important;
    text-shadow: none!important;
}

.compare-product .uk-button-small {
    min-height: 25px;
    padding: 0 10px;
    line-height: 40px;
    font-size: 15px;
    
}

.compare-product .uk-button-danger, .uk-button-primary, .uk-button-success {
    box-shadow: inset 0 0 5px rgb(0 0 0 / 5%);
    text-shadow: 0 -1px 0 rgb(0 0 0 / 10%);
}

.compare-product .uk-button-primary {
    background-color: #008396!important;
    color: #fff!important;
    transition: all .2s ease;
}


@media only screen and (max-width: 767px){
    .site-content {
        padding-top: 0px !important;
    }
}